html,body{
  margin: 0;
}

.black-overlay{
  background-color: rgba(0,0,0,0.4);
}

.image-overlay{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 60%,rgba(0,0,0,1));
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* WebKit browsers */
}
